


<div class="container" id="mainDiv">
  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5 text-center text-white" id="home-container">
      <h1 class="display-5 fw-bold" id="title">Alpha Blog</h1>
      <p class="col-md-12 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
      <button class="btn btn-success btn-lg" type="button">Sign-up!</button>
    </div>
  </div>
</div>

<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
  <div class="container">
    <span class="text-muted">Place sticky footer content here.</span>
  </div>
</footer>