@import 'bootstrap/dist/css/bootstrap';

header {
  min-height: 65px;
}

.navbar {
  background-color: black !important;
  min-height: 50px;
}

.nav-link {
  color: pink !important;
}

#title {
  color: rgb(209, 207, 207);
}

#logo {
  color: pink !important;
  float: left;
  font-size: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  background-image: asset-url('alphabloghomeimage.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#mainDiv {
  display: flex; 
  flex-direction: column;
  padding: 20px 15px 15px;
}