<footer class="footer mt-auto py-3 bg-dark fixed-bottom">
  <div class="container">
    <span class="text-muted">
      <%= link_to "Tiago Braz", "https://linkedin.com/in/tiago-braz-7b887579", class: "text-white" %>
    </span>
  </div>
</footer>